.about {
  padding: 4rem 2rem;
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  color: #000000;
  line-height: 1.7;
}

.about section {
  margin-bottom: 4rem;
}

.about h1, h2 {
  font-weight: 700;
  margin-bottom: 1rem;
}

.about h1 {
  font-size: 2.5rem;
}

.about h2 {
  font-size: 1.75rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 0.5rem;
}

.about p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.about ul li {
  /*background: rgba(255, 255, 255, 0.05);*/
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

.intro {
  display: flex;
  align-items: stretch;
  gap: 3rem;
  /*background-color: red;*/
}

.perfil {
  height: 425px;
  object-fit: cover;
}

.textPerfil{
  flex: 1;
}

.witness {
  margin-top: 5rem;
  height: 700px;
  object-fit: cover;
}

.links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.links a {
  padding: 0.7rem 1.2rem;
  background: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.2s ease;
}

.links a:hover {
  background: #444;
  border-color: #888;
}

.button {
  background: #03a9f4;
  color: #fff;
  border: none;
}

.button:hover {
  background: #0288d1;
}

.timelineSection {
  margin-top: 4rem;

}
.advanced {
  background: rgba(30, 255, 30, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
}
.basics {
  background: rgba(255, 251, 30, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
}
.beginner {
  background: rgba(255, 150, 30, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
}