.container {
  width: 100%;
  margin: 0;
  padding: 0;
}


.projectContainer {
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}


@media (max-width: 900px) {
  .projectContainer {
  max-width: 95%;
  padding: 0.5rem;
  gap: 2rem;
  grid-template-columns: 1fr;
  }
}